.nav-link {
    margin-left: 40px;
    font-size: medium;
}
.team-images {
    border-radius: 100%;
    width: 70%;
    margin-bottom: 25px;
}
.zerodha-logo-top {
    margin-left: 60px;
}

.parter-logo {
    width: 50%;
}