.nav-link {
    margin-left: 40px;
    font-size: medium;
}
.team-images {
    border-radius: 100%;
    width: 70%;
    margin-bottom: 25px;
}
.zerodha-logo-top {
    margin-left: 60px;
}

.parter-logo {
    width: 50%;
}

.equity-trades {
    width: 70%;
    margin-bottom: 30px;
    margin-top: 100px;
}
.small-text {
    font-size: small;
}

#supportHero {
    background-color: #387ed1;
    color: aliceblue;
}

#supportHero a{
    color: aliceblue;
}

#supportHero input {
    padding: 20px;
    width: 600px;
    border-radius: 4px;
    border: none;
}

#supportWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 160px;
}

#supportColumn {
    margin-left: 150px;
}